.tabs{
	.list-clear();
	
	height       : 42px;
	margin-bottom: 20px;
	
	> li{
		height: 42px;
		
		> a{
			display        : block;
			width          : 100%;
			padding        : 10px 0;
			font-family    : @alt-font-regular;
			text-transform : uppercase;
			text-decoration: none;
			text-align     : center;
			color          : @text-color;
			border-bottom  : 2px solid @color-main-alt;
			
			.text-overflow();
			
			&:hover{
				color       : @color-text-light;
				border-color: @color-text-light;
			}
		}
		
		&.active{
			> a{
				color       : @color-main;
				border-color: @color-main;
				
				&:hover{
					color       : @color-main;
					border-color: @color-main;
				}
			}
		}
	}
	
	&.product-tabs{
		height       : auto;
		margin-bottom: 0;
		display: table;
		width:100%;
		padding-top:40px;
		> li{
			display: table-cell;
			width:1%;
			text-align: center;
			border: 1px solid @color-border;
			height: 48px;
			vertical-align: middle;
			&+li{
				border-left-color: transparent;
			}
			
			&.active{
				background: #f0f1f5;
				border-color: #f0f1f5;
				border-right-color: @color-border;
				> a{
					color: @bw-0;
					font-family  : @alt-font-bold;
					
					&:hover{
						border-top-color: @color-border;
					}
					
				}
			}
			
			> a{
				text-align   : center;
				font-family  : @base-font-family;
				font-size    : @font-size-l;
				color        : #474747;
				border-bottom: 0 none;
				position     : relative;
				
				h2{
					margin: 0;
					font-size    : @font-size-m;
					letter-spacing: normal;
					
				}
				
				i{
					font-size: 22px;
					margin-left:5px;
				}
				&:hover{
					color: @color-main-alt;
				}
			}
		}
	}
}

.tab-content{
	&.product-tab-content{
		.make-row();
		.clearfix();
		padding-top:25px;
		.tab-pane{
			display: none;
			&.active{
				display: block;
			}
			
			h2, .hheader{
				font-size    : @font-size-m;
				font-family  : @alt-font-bold;
				line-height  : 24px;
				margin-bottom: 10px;
			}
			
			.form{
				.form-row{
					> label{
						font-size     : @base-font-size;
						letter-spacing: 0.25px;
					}
				}
			}
		}
	}
}