html {
  scroll-behavior: smooth;
}

.text-page.list-page.producers-list-page .producers-list-img {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -9px;
    margin-right: -9px;
}
.text-page.list-page.producers-list-page .producers-list-img li {
    display: block;
    position: relative;
    float: left;
    width: 20%;
    min-height: 1px;
    padding-left: 9px;
    padding-right: 9px;
}
.top-marki{
padding-bottom:20px;
}
.text-page.list-page.producers-list-page .producers-list li {
font-size:15px;
line-height:30px;
}
.go-to-top{
left:30px!important;
}
.product-page .product-description p {
    line-height: 20px!important;
}
/*.product-description img{
display:inline!important;
}*/
.order-page.cart-page .shipping-section .shipping-country {
    display:none;
}


/***** strona statyczna dostawa i płatności ******/

.table_payment_description {
    float: left;
    margin-bottom: 40px;
    width: 100%;
}

.table_payment_description .tpd.tpd1, .table_payment_description .tpd.tpd3 {
    border-width: 1px 0 0;
}

.table_payment_description.col4 .tpd {
    width: 25%;
}

.table_payment_description .tpd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e2e2e2;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    display: table-cell;
    font-size: 14px;
    line-height: 20px;
    padding: 40px 10px 20px;
    text-align: center;
    vertical-align: top;
}
.table_payment_description img {
    display: inline;
    margin-bottom: 30px;
}
.size3 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 50%;
}
.table_data {
    margin-bottom: 20px;
    width: 100%;
}
.table_data th, .table_data td {
    border: 1px solid #e2e2e2;
    font-size: 13px;
    line-height: normal;
    padding: 7px 5px;
    text-align: center;
    vertical-align: middle;
}

.table_data th {
    background-color: #ffc600;
    border-color: #ffc600;
    color: #000;
    font-size: 16px;
    font-weight: normal;
    padding: 15px 5px;
}
.ul_delivery li {
    list-style: outside none none;
    background: rgba(0, 0, 0, 0) url(https://sklep.polmarkus.com.pl/img/uploads/Ikony_strony_statyczne/czas_dostawy.png) no-repeat scroll left top;
    float: left;
    font-size: 13px;
    line-height: normal;
    margin-bottom: 13px;
    min-height: 25px;
    padding-left: 33px;
    padding-top: 5px;
    width: 100%;
}

.ul_delivery li:last-child {
    background-image: url(https://sklep.polmarkus.com.pl/img/uploads/Ikony_strony_statyczne/darmowa_dostawa.png);
    padding-top: 0;
}
.category-description h2, 
.category-description h3, 
.category-description h4, 
.category-description h5, 
.category-description h6 {
    margin: 20px 0 20px;!important;
    line-height: normal;
    text-transform: none!important;
    font-weight:600;
}
.category-description h2{
    font-size:20px;
}
.category-description h3{
font-size:18px;
}
h4{
font-size:16px;
}
.changePickupPoint{
display:none;
}

/***** tekst seo na stronie głównej *******/

@media all and (max-width:769px) {
	  
#seo_box_1, #seo_box_2, #seo_box_3, #seo_box_4 {
          float:none!important;
          width:auto!important;
          margin:10px;
          padding:0;
        }
 #seo_box_2, #seo_box_4 {
	 padding-left:0!important;
	  }
}

#seo_box_1, #seo_box_2, #seo_box_3, #seo_box_4 {
        float:left;
        width:48%;
        font-size:1em;
        line-height:1.5em;
      }

#seo_box_3, #seo_box_4{
	  margin-top:10px;
	  }

#seo_box_2, #seo_box_4{
	 padding-lefT:2%;
	  }

#seo_box_1 p, #seo_box_2 p, #seo_box_3 p, #seo_box_4 p{
        border-left:none;
        margin:10px 0;
        padding:5px;
	text-align:justify;
      }

#seo_box_1 h2, #seo_box_2 h2, #seo_box_3 h2, #seo_box_4 h2 {
        border-left:none;
        margin:10px 0;
        padding:5px;
       text-align:left;
      }

/***** teksty seo na stronie kategorii ******/

.category-description .seo_more_cat a{
    margin-left: 10px;
    padding: 9px;
    color: #000;
    text-decoration: none;
    background: #ffc600;
    border: 1px solid #000;
    display: inline-block;
    margin-top: 8px;
}
.category-description .seo_more_cat {
    margin-top:20px;
}
.product-page .quantity-discount-product-page .discount-type{
width:25%!important;
line-height:24px;
font-size:16px;
}

.product-page .quantity-discount-product-page .discount-description.red {
color:#df1111!important;
font-size:16px;
line-height:24px;
}

/******** formatowanie rozbudowanej karty produktu ***************/

ul.product-page-list{

list-style-image: url(https://sklep.polmarkus.com.pl/img/uploads/Ikony_strony_statyczne/list_check.png)!important;
}
ul.product-page-list li{
/*margin-top:20px;*/
}

div.img-list.left{
float:left;
width:50%;
}

div.desc-list.right{
float:left;
width:50%
}
div.img-list.right{
float:left;
width:50%;
}

div.desc-list.left{
float:left;
width:50%
}

.modal .modal-dialog .modal-content .modal-header {
     background: #ffc600;
}
/**** FORMATOWANIE LANDING PAGE *************/


.landing-page .page-content ul li{
width:20%!important;
}

@media (max-width: 767px){
.landing-page .page-content ul li{
    width: 50%!important;
}
}
@media (max-width: 991px) and (min-width: 768px){
.landing-page .page-content ul li{
    width:33%!important;
}
}
h2.landing-H-bg,
h3.landing-H-bg,
h4.landing-H-bg,
h5.landing-H-bg,
h6.landing-H-bg{
border-bottom: 1px solid #d7dbe5;
padding:20px 0 20px 0;
}
h2.landing-H-bg-red,
h3.landing-H-bg-red,
h4.landing-H-bg-red,
h5.landing-H-bg-red,
h6.landing-H-bg-red{
border-bottom: 1px solid #d7dbe5;
padding:20px 0 20px 0;
}



/************ wspólna belka TOP dwie informacje  ***************/
/*

@media (min-width: 992px){

.wrap-banner{
background: rgb(215,65,65);
background: -moz-linear-gradient(45deg, rgba(215,65,65,1) 0%, rgba(215,65,65,1) 51%, rgba(255,198,0,1) 51%, rgba(255,198,0,1) 100%)!important;
background: -webkit-linear-gradient(45deg, rgba(215,65,65,1) 0%, rgba(215,65,65,1) 51%, rgba(255,198,0,1) 51%, rgba(255,198,0,1) 100%)!important;
background: linear-gradient(45deg, rgba(215,65,65,1) 0%, rgba(215,65,65,1) 51%, rgba(255,198,0,1) 51%, rgba(255,198,0,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d74141",endColorstr="#ffc600",GradientType=1)!important;
padding:0;

}

.left-info-top{
	width:50%;
	display:inline-block;
	float:left;
        padding:8px;
}
.right-info-top{
	width:50%;
	display:inline-block;
        padding:8px;
}
						}					
@media (max-width: 991px) and (min-width: 768px){
.wrap-banner{
background: rgb(215,65,65);
background: -moz-linear-gradient(45deg, rgba(215,65,65,1) 0%, rgba(215,65,65,1) 51%, rgba(255,198,0,1) 51%, rgba(255,198,0,1) 100%)!important;
background: -webkit-linear-gradient(45deg, rgba(215,65,65,1) 0%, rgba(215,65,65,1) 51%, rgba(255,198,0,1) 51%, rgba(255,198,0,1) 100%)!important;
background: linear-gradient(45deg, rgba(215,65,65,1) 0%, rgba(215,65,65,1) 51%, rgba(255,198,0,1) 51%, rgba(255,198,0,1) 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d74141",endColorstr="#ffc600",GradientType=1)!important;
padding:0;

}


.left-info-top{
	width:50%;
	display:inline-block;
	float:left;
        padding:8px;
}
.right-info-top{
	width:50%;
	display:inline-block;
        padding:8px;
}
						}
						
@media (max-width: 767px){

.wrap-banner{
          background-color:#ffc600;
}
.left-info-top{
        display:none;
	width:100%;
	float:left;
        padding:8px;
}
.right-info-top{
	width:100%;
	display:inline-block;
}

}						
	*/	

/******* koniec wspólnej belki **************/

/****** lista wypunktowana na karcie produktu *********/

div.product-description ul li{
line-height:35px;
}




/************ ZAKŁADKA KATALOGI ********************************/

.miniatura{
    display: block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
   /* border-radius: 4px;*/
    transition: all 0.2s ease-in-out;
    text-align:center;

}

.miniatura img{
margin:0 auto;
padding:0;
}

.miniatura a{
    display: block;
    text-align: center;
    margin: -4px;
    border-radius: 4px;
    padding: 15px 10px 0;
}
.miniatura .tytul a{
    padding: 15px;
    color: #333333;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
}



@media (min-width: 992px){

.katalog_col{

width:25%;
float:left;
/*padding-left:10px;
padding-right:10px;*/
margin-bottom:20px;
margin-top:20px;
/*margin-left:-4px;*/
}


}			
		
@media (max-width: 991px) and (min-width: 768px){

.katalog_col{
width:33%;
float:left;
/*padding-left:10px;
padding-right:10px;*/
margin-bottom:20px;
margin-top:20px;
/*margin-left:-4px;*/
}


}
						
@media (max-width: 767px){

.katalog_col{
width:50%;
float:left;
/*padding-left:10px;
padding-right:10px;*/
margin-bottom:20px;
margin-top:20px;
/*margin-left:-4px;*/
}



}	




/********** stylizacja rejestracji na Dni otwarte *************/

 .user-register-page .page-content.page-sidebar-true .message{
display:none;
}

.producer-description .cms-content p,
.producer-description .cms-content li
{
font-size:15px!important;
line-height:20px;
}
.producer-description .cms-content li
{
margin-top:5px;
}
.product-list-page .page-desc .container{
padding:0px!important;
}

/*********** zakładka do pobrania na karcie produktu **************************/

#do-pobrania .product-specification{
width:100%!important;
}

#do-pobrania .product-specification a{
color:#000!important;
}


/***** nowa belka producenci ********/

@media (min-width: 992px){

.belka-producent{
	/*width: 100vw;*/
    position: relative;
	width:100%;
	margin:0 auto;
	padding:0;
    background-color: #f6f9fa;
}
.belka-producent-logo img{
	width:60%
	
}
.belka-producent-h1{
	color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
}
.belka-producent-tresc{
	padding-right:6%;
	text-align: justify;
       margin-bottom:1%;
	
}
.belka-producent-opis{
	float:left;
	width: 50%;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 50%;
    flex-direction: column;
    text-align: left;
	transition: all .3s ease-in-out;
    display: flex;
    height: auto;
	
}


}			
		
@media (max-width: 991px) and (min-width: 768px){

.belka-producent-img{
	display:none!important;
}
.belka-producent-logo{
	margin:0 auto;
	padding:0;
width:50%;
	
}
.belka-producent-logo img{
	width:100%;
	
}
.belka-producent-h1{
	color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
}
.belka-producent-tresc{
	/*padding-right:6%;*/
	text-align: justify;
       margin-bottom:1%;
	
}
.belka-producent-opis{
	float:left;
	width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 50%;
    flex-direction: column;
    text-align: left;
	transition: all .3s ease-in-out;
    display: flex;
    height: auto;
	
}


}
						
@media (max-width: 767px){

.belka-producent-img{
	display:none!important;
}
.belka-producent-logo{
	margin:0 auto;
	padding:0;
width:50%;
	
}
.belka-producent-logo img{
	width:100%;
	
}
.belka-producent-h1{
	color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 18px;
}
.belka-producent-tresc{
	/*padding-right:6%;*/
	text-align: justify;
       margin-bottom:1%;
	
}
.belka-producent-opis{
	float:left;
	width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex: 0 0 50%;
    flex-direction: column;
    text-align: left;
	transition: all .3s ease-in-out;
    display: flex;
    height: auto;
	
}



}	

#kategorie_specjalne .seo_url{
    margin-left: 10px;
    padding: 9px;
    color: #000;
    text-decoration: none;
    background: #ffc600;
    display: inline-block;
    margin-top: 8px;
}

#kategorie_specjalne p{
text-align:left;
}


/***** szerokość ekranu do 400px; ****/

@media only screen and (max-width: 400px) {
	
.container-strefa{
	max-width:100%;
	margin:0 auto;
	padding:0;
}	
.strefa-item{
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #dddddd;
	margin-left:-1px;
	margin-top:-1px;
}
.strefa-item-img img{
	height:auto;
	width:100%;
}
.strefa-item-img{
	padding:10px;
}
	
}
/***** koniec szerokość ekranu do 400px; ****/
/********************************************/

/***** szerokość ekranu od 401px do 767px; ****/

@media only screen and (max-width: 767px) {
	
.container-strefa{
	max-width:100%;
	margin:0 auto;
	padding:0;
}	
.strefa-item{
    width: 50%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #dddddd;
	margin-left:-1px;
	margin-top:-1px;
}

}
/***** koniec szerokość ekranu od 401px do 767px****/
/***************************************************/

/***** szerokość ekranu od 768px do 959px; ****/

@media only screen and (min-width: 768px) {
	
.container-strefa{
	width:100%;
	margin:0 auto;
	padding:0;
}	
.strefa-item{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #dddddd;
	margin-left:-1px;
	margin-top:-1px;
}

}

/***** koniec szerokość ekranu od 768px do 959px****/
/***************************************************/

/***** szerokość ekranu od 960px; ****/

@media only screen and (min-width: 960px) {
	
.container-strefa{
	width:100%;
	margin:0 auto;
	padding:0;
}	
.strefa-item{
    width: 25%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #dddddd;
	margin-left:-1px;
	margin-top:-1px;
}	

}

/***** koniec szerokość ekranu od 960px*************/
/***************************************************/



/******** globalne style do podziały na strefy ******/

#baner img{
	width:100%;
}
#strefa-kategorie{
	width:100%;
	display:inline-block;
}
#strefa-kategorie a{
    padding: 9px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin-top: 8px;
	border:1px solid #ebedf2;
	font-weight:bold;
	font-size:14px;
}
.strefa-nazwa{
	float: left;
    width: 100%;
    background: #f0f1f5;
    margin: 15px 0px 20px 0px;
}
.strefa-nazwa h2{
	margin:0px!important;
}
.strefa-nazwa span{
	font-size:15px;
	line-height:35px;
	padding-left:15px;
	font-weight:bold;
	text-transform:uppercase;
}
.strefa-item-80{
	/*width:100%;*/
}
.strefa-item-nazwa{
	width:100%;
	text-align:center;
	margin: 0 auto;
	padding: 10px 0px 25px 0px;
	font-weight:bold;
	font-size:14px;
	text-transform:uppercase;
	margin-top:20px;
	min-height:67px;
}
.strefa-item-nazwa a{
	text-decoration:none;
	color:#000;
	padding: 0px 5px 0px 5px;
}
.strefa-item-img{
	text-align:center;
	margin: 0 auto;
	padding-bottom:25px;
	min-height:200px;
}
.strefa-item-img img{
	height:auto;
       display:inline-block!important;
}
.strefa-item-more{
	width:100%;
	text-align:center;
	display:flex;
	padding-bottom:20px;
	
}
.strefa-item-more a{
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
	padding:10px;
	margin:0 auto;
	font-size: smaller;
	border: 1px solid #ebedf2;
    font-weight: bold;
}
.strefa-item-more span{
	text-decoration:none;
	color:#000;
	text-transform:uppercase;
	padding:10px;
	margin:0 auto;
	font-size: smaller;
	border: 1px solid #ebedf2;
    font-weight: bold;
}

/******** gratisy do wyboru ***********/


.cart-page .gratis-products-section .info-left{
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 20px;
    color:#000;
}

.cart-page .gratis-products-section .info-right{
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 22px;
}

.cart-page .gratis-products-section .info-left p span:not(.price) {
    color: #ffc600;
}
/***** szerokość ekranu do 400px; ****/

@media only screen and (max-width: 400px) {
	
.cart-page .gift-products-section .product-list.small li,
.cart-page .gratis-products-section .product-list.small li {
    width: 100%!important;
    display:inline-block;
    margin-bottom:20px;
}

	
}
/***** koniec szerokość ekranu do 400px; ****/
/********************************************/

/***** szerokość ekranu od 401px do 767px; ****/

@media only screen and (max-width: 767px) {
	
.cart-page .gift-products-section .product-list.small li,
.cart-page .gratis-products-section .product-list.small li {
    width: 100%!important;
    display:inline-block;
    margin-bottom:20px;
}

}
/***** koniec szerokość ekranu od 401px do 767px****/
/***************************************************/

/***** szerokość ekranu od 768px do 959px; ****/

@media only screen and (min-width: 768px) {
	
.cart-page .gift-products-section .product-list.small li,
.cart-page .gratis-products-section .product-list.small li {
    width: 49%!important;
    display:inline-block;
    margin-bottom:20px;
}

}

/***** koniec szerokość ekranu od 768px do 959px****/
/***************************************************/

/***** szerokość ekranu od 960px; ****/

@media only screen and (min-width: 960px) {
	
.cart-page .gift-products-section .product-list.small li,
.cart-page .gratis-products-section .product-list.small li {
    width: 33%!important;
    display:inline-block;
    margin-bottom:20px;
}	

}

/***** koniec szerokość ekranu od 960px*************/
/***************************************************/

@media only screen and (max-width: 1317px) {
	
.cart-page .gratis-products-section .product-box.small .more {
    left: 110px;
}	

}

@media only screen and (min-width: 1318px) {
	
.cart-page .gratis-products-section .product-box.small .more {
    left: 140px;
}	

}



.free-shipping-info-small{
display:none;
}

.blog-content p{
line-height:25px;
}
.blog-page h1, .blog-page h2, .blog-page h3, .blog-page h4, .blog-page h5, .blog-page h6, .blog-page .hheader {
    margin: 20px 0px 20px 0px;
    line-height: normal;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
}






/******************* ZAKŁADKA PRODUCENCI *************************/
/**************************************************************************/


#top-marki-head{
	    margin:0 auto;
		padding:0;
		text-align:center;
		
}
#top-marki-head span{
	    font-size: 28pt;	
}
#top-marki-zawartosc img{
display:inline-block;
}
	
  ul.alfabetyczna-lista{
	list-style-type: none;
    width: 100%;
    display: table;
	margin:0 auto;
	padding:0;
}
ul.alfabetyczna-lista li{
    display: table-cell;
    text-align: center;
    text-transform: uppercase;
	margin-left:-1px;
	font-family: "latoregular",sans-serif;
}

ul.alfabetyczna-lista li a {
    padding: 8px 5px;
	display:block;
    border: 1px solid #ebf1f6;
    border-width: 1px 1px 1px 1px;
	margin-left:-1px;
	text-decoration:none;
	color:#633827;
}
ul.alfabetyczna-lista li a:hover {
	background-color:#633827;
	color:#fff;
}

.lista-producentow li{
	width:calc(100%/4);
	float:left;
	list-style-type: none;
    text-transform: uppercase;
	font-family: "latoregular",sans-serif;
	margin-top:25px;
}
.lista-producentow li a{
	color:#000;
	text-decoration:none;
}
.lista{
	display:grid;
}
.lista-kontener{
	border-top: 1px solid #eee;
    margin-top: 20px;
	display:flex;
}
.duza-litera{
    font-size: 30px;
    font-weight: 600;
    display: flex;
    width: 60px;
    flex: 0 0 60px;
    justify-content: center;
	font-family: "latoregular",sans-serif;
	margin-top: 24px;
}
.lista-producentow{
	flex-wrap: wrap;
    width: 100%;
    flex: 0 0 100%;
}

#top-marki-zawartosc{
	display:inline-block;
	width:100%;
	margin: 0 auto;
    padding: 0;
    text-align: center;
}
#top-marki-zawartosc a{
	width:20%;
}
#top-marki-zawartosc a img{
	padding:20px;
}

@media (max-width: 767px){

.lista-producentow li{
	width:calc(100%/2);
	float:left;
	list-style-type: none;
    text-transform: uppercase;
	font-family: "latoregular",sans-serif;
	margin-top:25px;
}
  ul.alfabetyczna-lista{
	text-align:center;
	margin:0 auto;
	padding:0;
}
ul.alfabetyczna-lista li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
	margin-left:-1px;
	font-family: "latoregular",sans-serif;
}


}	
@media (max-width: 400px){

.lista-producentow li{
	width:calc(100%/1);
	float:left;
	list-style-type: none;
    text-transform: uppercase;
	font-family: "latoregular",sans-serif;
	margin-top:25px;
}



}	



/********* delikatna poprawka blog ***********/

.blog-list-holder li .blazy {
    max-height: 170px!important;
}
.blog-list-holder li h3 {
    height: 38px!important;
}

