// Large Desktop
//--------------

@media (max-width: 1348px){
	.slick-arrow{
		z-index: 2;
		&.slick-next{
			right:-15px;
		}
		&.slick-prev{
			left:-15px;
		}
	}
	.slick-initialized .slick-slide{
		padding: 0 11px;
	}
	.slick-slide .hheader{
		margin-top: 30px;
	}
}

// Desktop
//--------

@media (min-width: 992px) and (max-width: 1317px){
	.slick-arrow{
		top: 83px;
		&.slick-next{
			right:-10px;
		}
		&.slick-prev{
			left:-10px;
		}
	}
}

// Tablet
//-------

@media (min-width: 768px) and (max-width: 991px){
	.slick-arrow{
		top:88px;
		&.slick-prev{
			left:-10px;
		}
		&.slick-next{
			right: -10px;
		}
	}
}

// Mobile
//-------

@media (max-width: 767px){
	.img-thumbnail{
		margin: 5px 10px 5px 0;
	}
	
	.responsive-toggle{
		position      : relative;
		display       : block;
		padding       : 5px 0 5px @base-line-height + 10;
		line-height   : @base-line-height;
		font-family   : @alt-font-regular;
		font-size     : @font-size-s;
		text-transform: uppercase;
		color         : @text-color;
		
		&:after{
			.icon("\f0c9", @base-line-height, @base-line-height, 5px, auto, auto, 0, @text-color);
			
			padding    : 4px;
			line-height: @base-line-height - 10;
			border     : 1px solid @color-border;
		}
		
		&:hover{
			text-decoration: none;
			color          : @text-color;
			
			&:after{
				background-color: darken(@bw-f, 5%);
			}
		}
		
		&.inverse{
			color: @bw-f;
			
			&:after{
				color       : @bw-f;
				border-color: lighten(@color-main-alt, 6%);
			}
			
			&:hover{
				text-decoration: none;
				
				&:after{
					background-color: lighten(@color-main-alt, 3%);
				}
			}
		}
	}
	
	[data-loaded=true]{
		img{
			width: 100%;
		}
	}
	.icon-left{
		width:41px;
		height: 21px;
		background-size: contain;
	}
	.icon-right{
		width:41px;
		height: 21px;
		background-size: contain;
	}
	.slick-slide .hheader{
		margin-top:15px;
	}
	.slick-arrow{
		top:43%;
		margin-top:-29px;
		&.slick-prev{
			left:-10px;
		}
		&.slick-next{
			right: -10px;
		}
	}
}

@media (min-width: 480px) and (max-width: 767px){

}

@media (max-width: 479px){
	.slick-initialized .slick-slide{
		padding: 0 40px;
	}
}

.touch{

}