// Mobile
//-------

@media (max-width: 767px){
	.blog-opinions{
		.opinion-form{
			.form-row{
				label{
					width: 100%;
				}
				
				.form-control{
					width: 100%;
				}
				
				textarea{
					width: 100% !important;
				}
				
				.error-message{
					margin-left: 0%;
				}
				
				.captcha{
					float: none;
					width: 100%;
				}
			}
			
			.form-info{
				margin-left: 0%;
			}
			
			.form-actions{
				&.align-input{
					margin-left: 0%;
				}
				
				.btn{
					width: 100%;
				}
			}
		}
	}
}