.home-page{
	.mainpage-tabs{
		margin-bottom: 25px;
		
		ul{
			.list-clear();
			
			display       : table;
			vertical-align: middle;
			height        : 50px;
			margin        : 0 auto;
		}
		
		li{
			height        : auto;
			display       : table-cell;
			border        : 1px solid @color-border;
			vertical-align: middle;
			padding       : 0 68px;
			
			&+li{
				border-left:none;
			}
			
			&.active{
				background: #f0f1f5;
				border-color: #f0f1f5;
				a{
					color       : @color-main-alt;
					font-family: @alt-font-bold;
				}
			}
			
			a{
				border        : none;
				padding       : 5px;
				font-size     : @font-size-l;
				height        : auto;
				letter-spacing: 1px;
			}
		}
	}
	
	.mainpage-tab-content{
		width     : 100%;
		
		.tab-pane{
			.product-list{
				
				li{
					.product-box{
						&.gallery{
							.group-add-checkbox{
								display: none;
							}
						}
					}
				}
			}
		}
		
		.product-box{
			&.gallery{
				.product-image{
					.preload-image{
						img{
							display: inline-block;
						}
					}
				}
			}
		}
	}
	
	.mainpage-news{
		display: inline-block;
		width  : 100%;
		
		.news-box{
			margin: 40px 0 0;
			
			h2{
				padding-bottom: 15px;
				margin-bottom : 10px;
				border-bottom : 2px solid @color-main-alt;
				position      : relative;
			}
			
			.archive{
				margin  : 0;
				position: absolute;
				right   : 0;
				top     : 3px;
			}
			
			.news-list{
				.make-row();
				.clearfix();
				
				li{
					.make-xs-column(6);
					
					h3{
						.news-date{
							float: right;
						}
					}
					
					p{
						text-align: left;
					}
				}
			}
		}
	}
}

.blog-list-holder{
	.list-clear();
	.clearfix();
	display: table;
	width:100%;
	margin-top:25px;
	margin-bottom: 25px;
	
	li{
		display: table-cell;
		width: 20%;
		border: 1px solid transparent;
		//border-right: none;
		padding: 10px;
		vertical-align: top;
		.transition(all 0.35s ease);
		.blazy{
			max-height: 120px;
		}
		&.blog-img{
			padding: 0;
			vertical-align: middle;
			a{
				&:hover{
					text-decoration: none;
				}
			}
			span{
				display: none;
			}
			&:hover{
				background: none;
			}
		}
		&:first-child{
			border: none;
		}
		&:last-child{
			//border-right: 1px solid #d7dbe5;
		}
		&:hover{
			border-color: #d7dbe5;
			//background: rgba(215, 219, 229, 0.3);
		}
		h3{
			font-size: @font-size-m;
			font-family: @alt-font-bold;
			text-transform: none;
			margin-bottom: 10px;
			margin-top:15px;
			height: 40px;
			overflow: hidden;
			
			a{
				color: @bw-0;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.blog-intro{
			color: #4e4e4e;
			font-size: @base-font-size - 1;
			margin-bottom: 5px;
			height: 60px;
			overflow: hidden;
			
		}
		.blog-more{
			padding: 0;
			border: none;
			font-family: @alt-font-bold;
			color: #4e4e4e;
			font-size: @base-font-size - 1;
			text-transform: none;
		}
	}
}