.wrap-footer{
	width           : 100%;
	background-color: #f0f1f5;
	
	footer{
		
		.hheader{
			margin   : 27px 0 13px;
			font-size: @font-size-m;
			color    : @color-main-alt;
			font-family: @alt-font-bold;
		}
		
		.footer-newsletter-box{
			position: relative;
			
			.newsleter-img{
				position: absolute;
				left: -20px;
				max-width:42%;
				transform:translateY(-50%); 
				-webkit-transform:translateY(-50%); 
				-moz-transform:translateY(-50%); 
				-o-transform:translateY(-50%); 
				top: 50%;
			}
			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 45%;
				left: 0;
				-webkit-clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 0, 93% 0, 100% 100%, 0% 100%);
				background: #fcedc6;
			}
			
			.newsletter-box{
				.make-sm-column(7);
				.make-sm-column-offset(5);
				margin-bottom: 0;
				padding-top:65px;
				padding-bottom: 75px;
				padding-left:30px;
				
				.box-header{
					margin     : 0 0 10px;
					font-size  : 26px;
					color      : @color-main-alt;
					border     : 0 none;
					padding    : 5px 0 10px;
					position   : relative;
					font-family: @alt-font-bold;
					display    : inline-block;
					i{
						margin-right:10px;
					}
				}
				
				.newsletter-label{
					margin-bottom : 35px;
					font-family   : @alt-font-regular;
					font-size     : @font-size-m;
					line-height   : 23px;
				}
				
				form{
					.clearfix();
					
					input[type="text"]{
						width       : 51%;
						float       : left;
						margin      : 0;
						border-color: @color-main;
						margin-right: 3%;
						height      : 45px;
						font-size   : @base-font-size;
						&#FreshMailImie{
							width:23%;
						}
					}
					
					button[type="submit"]{
						width: 20%;
						float: left;
						height: 45px;
						font-size: @font-size-l;
						font-family: @alt-font-bold;
						i{
							margin-left:5px;
						}
					}
					
					.captcha{
						clear      : both;
						padding-top: 20px;
					}
					.confirm{
						clear:both;
						padding-top:5px;
						.form-control{
							margin:0;
						}
						label{
							font-size: 14px;
						}
						&.error{
							.form-row label{
								color: #b94a48; 
							}
						}
					}
				}
			}
		}
		
		.page-desc{
			background: @bw-f;
			padding: 15px 0 35px;
			h1{
				text-transform: none;
				margin-top:30px;
			}
			p{
				font-size: 13px;
				line-height: 17px;
			}
			
		}
		.footer-nav{
			.make-xs-column(12);
			
			
			nav{
				&.col-2{
					.make-xs-column(6);
				}
				
				&.col-3{
					.make-xs-column(4);
				}
				
				&.col-4{
					.make-xs-column(3);
					&:last-of-type{
						background: #dadde4;
						padding-left:20px;
						padding-right:20px;
					}
				}
				
				.list-foot{
					.list-clear();
					li{
						color: #4e4e4e;
						padding-bottom: 12px;
						a{
							color: #4e4e4e;
							
							&:hover{
								text-decoration: none;
								color: @bw-0;
							}
						}
						&.with-icon{
							
							font-size: @font-size-l;
							color: #3c3c3c;
							span{
								display: inline-block;
								margin-left: 5px;
							}
							i{
								margin-right: 5px;
							}
						}
					}
				}
			}
		}
		
		.subfooter{
			.clearfix();
			
			background-color: @color-new;
			color           : @bw-f;
			padding-top     : 9px;
			padding-bottom  : 9px;
			
			p{
				margin-bottom: 0;
				
				&.copy{
					.make-xs-column(7);
				}
				
				&.realization{
					.make-xs-column(5);
					
					text-align: right;
				}
				
				span{
				
				}
				
				a{
					text-decoration: none;
					color          : @bw-f;
				}
			}
		}
	}
}