// Large Desktop
//--------------

@media (min-width: 1318px){
	
}

// Desktop
//--------

@media (min-width: 992px) and (max-width: 1343px){
	.product-list{
		&.gallery{
			&.col-2{
				li{
					.make-md-column(6);
				}
			}
			
			&.col-3{
				li{
					.make-md-column(4);
				}
			}
			
			&.col-4{
				li{
					
				}
			}
		}
	}
	
	.product-box{
		&.gallery{
			padding: 15px;
			.product-image{
				margin-bottom:25px;
			}
			.product-name{
				font-size: 14px;
				height:51px;
			}
			.product-price-container{
				font-size: 14px;
				height:18px;
			}
			.product-add-cart{
				width:148px;
			}
		}
		
		&.details{
			.product-column{
				&.col-right{
					padding-top:0;
				}
				.product-options{
					margin-top: 10px;
					
					li{
						width: 100%;
					}
				}
			}
		}
		
		.product-box{
			&.list{
				.product-column{
					&.col-middle{
						.make-lg-column(7);
					}
					
					&.col-right{
						.make-lg-column(5);
					}
				}
			}
		}
	}
}

// Tablet
//-------

@media (min-width: 768px) and (max-width: 991px){
	.product-list{
		&.gallery{
			&.col-2{
				li{
					.make-sm-column(4);
				}
			}
			
			&.col-3{
				li{
					.make-sm-column(4);
				}
			}
			
			&.col-4{
				li{
					.make-sm-column(4);
					padding: 0;
				}
			}
			&.col-5{
				li{
					width: 25%;
				}
			}
		}
	}
	
	.product-box{
		&.gallery{
			padding: 10px;
			.product-image{
				margin-bottom:25px;
			}
			.product-name{
				font-size: 14px;
				height:51px;
			}
			.product-price-container{
				font-size: 14px;
				height:18px;
			}
			.product-add-cart{
				width:148px;
			}
		}
		
		&.details{
			.product-column{
				
				&.col-left{
					.make-sm-column(4);
				}
				
				&.col-middle{
					.make-sm-column(8);
					
					
				}
				
				&.col-right{
					.make-sm-column(8);
					
					padding-top: 10px;
				}
				
				&.product-image{
					
				}
				
				.attribute-list{
					li{
						width: 100%;
					}
				}
				.btn{
					width:50%;
					float:left;
				}
				.product-options{
					width:50%;
					float: left;
					li{
						width:100%;
						.btn{
							width:100%;
						}
					}
				}
			}
		}
		
		&.list{
			.product-column{
				&.col-middle{
					.make-lg-column(6);
				}
				
				&.col-right{
					.make-lg-column(6);
				}
			}
		}
	}
}

// Mobile
//-------

@media (max-width: 767px){
	.product-list{
		&.gallery{
			margin-top: 0;
			
			&.col-2{
				li{
					.make-xs-column(6);
				}
			}
			
			&.col-3{
				li{
					.make-xs-column(6);
				}
			}
			
			&.col-4{
				li{
					width:50%;
				}
			}
			
			&.col-5{
				li{
					width:50%;
				}
			}
		}
	}
	
	.product-box{
		&.small{
			.product-price{
				.discount-price, .price{
					font-size: 14px;
				}
				.discount-price{
					margin-right:5px;
				}
			}
		}
		&.gallery{
			padding: 15px;
			.product-image{
				margin-bottom:25px;
			}
			.product-name{
				font-size: 14px;
				height:51px;
			}
			.product-price-container{
				font-size: 14px;
				height:18px;
			}
			.product-add-cart{
				width:148px;
			}
			.product-code span{
				display: block;
			}
		}
		
		&.details{
			padding-top   : 10px;
			padding-bottom: 10px;
			
			.product-column{
				
				&.col-left{
					.make-xs-column(4);
				}
				
				&.col-middle{
					.make-xs-column(8);
				}
				
				&.col-right{
					.make-xs-column(8);
				}
				
				
				
				.product-name{
				}
				
				.attribute-list{
					li{
						width  : 100%;
						padding: 0;
					}
				}
				
				.price-container{
				}
				.btn{
					width:50%;
					float:left;
				}
				.product-options{
					width:50%;
					float: left;
					li{
						width:100%;
						.btn{
							width:100%;
						}
					}
				}
			}
		}
		
		&.list{
			padding-top   : 10px;
			padding-bottom: 10px;
			
			.product-column{
				&.col-middle{
					.make-xs-column(12);
				}
				
				&.col-right{
					&:before{
						display: none;
					}
					
					&.shift-right{
						padding-left: 40 + (@grid-gutter-width / 2);
					}
					
					.make-xs-column(12);
				}
				
				.price-container{
					span{
						font-size: @font-size-m;
					}
				}
			}
		}
	}
}

@media (min-width: 480px) and (max-width: 767px){

}

@media (max-width: 479px){
	.product-list{
		&.gallery{
			&.col-2{
				li{
					.make-xs-column(12);
				}
			}
			
			&.col-3{
				li{
					.make-xs-column(12);
				}
			}
			
			&.col-4{
				
			}
		}
	}
	
	.product-box{
		&.list{
			.product-column{
				.attribute-list{
					li{
						border-right: 0 none;
					    margin-right: 0;
					    padding-right: 0;
					    width: 100%;
					    
						&.quantity{
							padding-left: 0;
						}
					}
				}
				
				&.col-right{
					&.shift-right{
						padding-left: @grid-gutter-width / 2;
					}
				}
			}
		}
		&.gallery{
			padding:10px;
			.product-image {
				margin-bottom: 15px;
			}
			.product-name{
				font-size: 13px;
				height: 45px;
			}
			.product-code{
				font-size: 12px;
			}
			.product-price-container{
				font-size: 13px;
				height:17px;
			}
			.product-add-cart{
				font-size: 13px;
				padding:6px;
				width: 103px;
				i{
					display: none;
				}
			}
		}
		&.details{
			.product-column{
				&.col-left{
					.make-xs-column(12);
				}
				
				&.col-middle{
					.make-xs-column(12);
					padding-top:10px;
				}
				
				&.col-right{
					.make-xs-column(12);
					padding-top:15px;
				}
				
				.price-container{
					font-size: 14px;
				}
				.btn{
					i{
						display: none;
					}
				}
			} 
		}
	}
}

// Urządzenia dotykowe
//--------------------

.touch{
	.product-box{
		&.gallery{
			.product-hover-opacity{
				background-color: transparent;
			}
			
			.product-image{
				.product-hover-slide{
					bottom: 0;
				}
			}
		}
	}
}